.date{
    /* font-weight: lighter; */
    color: #333;
    font-style: italic;
}
.blogs {
     /* background-color: rgb(175, 174, 151);   */
}
 
 
@media  only screen  and (max-width:500px){
     
    ul{
        display: block;
    }
    
}