body{
    margin: 0;
    padding: 0;
    background-color: #2a3047;
    color: #fff;

    
}
 
.pink{color:rgb(151, 93, 60)}
 a{
     text-decoration: none;
     color:rgb(151, 93, 60);
 }
 a:hover{
    text-decoration: none;
    color:white;
 }

ul{ 
    display: flex;
    list-style-type: none;
    float: right;
}
ul li{
    margin-left: 2em;
    text-transform: uppercase;
}
table{
    float: right;
}

footer{
    background-color: dimgrey;
    margin-top: 100px;
    padding: 15px;
}
.container{
     margin: auto;
    max-width: 1000px;
    font-family: calibri;
    
}
ul{ 
    display: flex;
    list-style-type: none;
}
 
